* {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    border: 1px solid rgb(0, 0, 0);
}

.container-boxs {
    display: flex;
    justify-content: space-around;

}

.container-boxs article {
    border: 2px solid rgb(199, 29, 148);
    width: 100%;
    max-width: 400px;
    height: 350px;
    background-color: rgb(255, 235, 210);
}

aside h1 {
    padding: 20px;
    font-size: 36px;
    color: black;
    text-align: center;
}

/*mobile*/
@media screen and (max-width: 480px) {
    .container-boxs {
        flex-direction: column;
    }

    .container-boxs article {
        background-color: rgb(202, 194, 198);
    }

    .container-boxs article h1,
    .container-boxs article p {
        color: aliceblue;
        padding: 5px;
    }

    aside {
        display: none;
    }
}

 /* Small tablet */
@media (min-width: 768px) and (max-width: 991px) {
   .container-boxs article h1 {
    display: none;
   }}
   